@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.body {
    display: flex;
}

/********************************* navigation *********************************/

.navigation {
    display: flex;
    margin: 5px 10px;
    color: hsl(0, 0%, 41%);
}

.left-navigation-logo {
    display: flex;
    margin-top: 10px;
}

.logo {
    zoom: 50%;
    height: 50px;
    margin-right: 30px;
}

/* -------------------- */

.Left-navigation {
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
}

.navigation h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
}

/* menu svg and cancel svg */
.menu {
    zoom: 70%;
    height: 20px;
    margin: 0px;
    visibility: hidden;
}


/********************************* hidden Lis *********************************/


/* grabs every ul and li element */
ul {
    padding: 10px;
    list-style: none;   
    position: absolute;
    z-index: 1;
    margin: 0;
    display: none;
}

li {
    cursor: pointer;
}

/* the style added to the li to make them display */
.display {
    display: list-item;
}


/* first h3 element */

.features {
    margin-left: 80px;
}


.features-ul {
    padding: 7px 5px 7px 0px;
    margin-top: 10px;
    margin-left: 40px;
    box-shadow: 1px 1px 5px grey;
    border-radius: 10px;
    background-color: white;
}

.features-ul li {
    padding: 7px;
    padding-right: 15px;
    font-size: 11px;
}

.company-ul {
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px grey;
}

.company-ul li {
    padding: 10px;
    font-size: 11px;
}


/********************************* before contents of the Lis *********************************/

.todo-list::before {
    content: url(/img/icon-todo.svg);
    padding: 15px;
    zoom: 75%;
}

.calendar::before {
    content: url(/img/icon-calendar.svg);
    padding: 15px;
    zoom: 75%;
}

.reminders::before {
    content: url(/img/icon-reminders.svg);
    padding: 15px;
    zoom: 75%;
}

.planning::before {
    content: url(/img/icon-planning.svg);
    padding: 15px;
    zoom: 75%;
}

/********************************* after contents of the h3 elements *********************************/
/* setting the margin of each of the div */

.features-div,
.company-div,
.careers-div
 {
    margin-right: 40px;
}

.features-div div {
    display: flex;
}

.features-div div img {
    width: 7%;
    height: 7%;
    margin: 10px;
    margin-top: 20px;
}

.company-div div {
    display: flex;
}

.company-div div img {
    width: 10%;
    height: 10%;
    margin: 10px;
    margin-top: 20px;
}

/* ------------------nav buttons--------------- */

.nav-buttons {
    margin-left: 110%;
    display: flex;
}

button {
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* login-button */
button:nth-child(1) {
    border: hidden;
    font: 10px;
    margin-right: 20px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
}

/* register-button */
button:nth-child(2) {
    border: 2px solid;
    font: 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
}

/********************************* body section *********************************/

.body {
    display: flex;
}

.text {
    margin-top: 8%;
    width: 50%;
}

.artwork img {
    width: 59vh;
    margin-top: 30px;
    margin-left: 120px;
}

/* ----------------------------- */

h1 {
    font-size: 80px;
    padding-left: 180px;
    width: 71%;
    margin: 5px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 8%);
}

p {
    width: 50%;
    line-height: 25px;
    color: hsl(0, 0%, 41%);
    font-weight: 100;
    margin-top: 30px;
    margin-left: 25%;
}

.text button {
    margin-left: 25%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 30px;
    font-weight: 600;
    background-color: hsl(0, 0%, 8%);
    color: white;
}

.footer {
    margin-left: 25%;
    margin-top: 9%;
}

.footer img {
    margin-right: 20px;
}

/*selects  audiophile */
.footer img:nth-child(2) {
    width: 7%;
    margin-top: 10px;
}

/* hover feature */

.login-button:hover {
    color: hsl(0, 0%, 8%);
    transition: 1s;
}

.register-button:hover {
    color: hsl(0, 0%, 8%);
    transition: 1s;
}

.text button:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    transition: 1s;
}

h3:hover {
    color: hsl(0, 0%, 8%);
    transition: 2s;
}

/******************************** media queries ********************************/

@media (max-width: 376px) {
    body {
        margin: 0px;
        zoom: 60%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    /* styling of the body */
    .body {
        flex-direction: column-reverse;
        padding-bottom: 100vh;
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .black-wrapper {
        background-color: black;
        opacity: 0.5;
        z-index: 0;
        margin-top: -15%;
        width: 100%;
        height: 200vh;
        padding-top: 130%;
        height: 200vh;
        position: absolute;
        visibility: hidden;
    }

    .Left-navigation {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }

    .navigation,
    .Left-navigation,
    .Left-navigation div:nth-child(2),
    .features,
    .nav-buttons {
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .Left-navigation {
        padding-bottom: 143%;
        background-color:white;
        position: absolute;
        margin-left: 38%;
        padding-top: 5%;
        margin-top: 0px;
        z-index: 1;
    }

    .nav-buttons {
        position: absolute;
    }

    ul {
        z-index: 0;
        position: relative;
        width: 20%;
        margin-right: 0px;
    }

    .features-ul li,
    .company-ul li 
    {
        zoom: 170%;
        padding: 10px;
    }

    .features-ul,
    .company-ul
     {
        width: 100%;
    }

    .company-ul li {
        margin-left: 10px;
    }

    .features-ul,
    .company-ul {
        padding: white;
        box-shadow: none;
        margin-left: 7%;
    }

    .features {
        margin-left: 13%;
    }

    #arrowId1,
    #arrowId2 {
        width: 20px;
        margin-left: 40px;
    }

    .features-div,
    .about-div,
    .careers-div,
    .company-div {
        margin: 0px;
    }

    .about-div {
        margin-top: 25px;
    }

    .left-navigation-logo {
        margin-top: 0px;
    }

    .navigation h3 {
        font-size: 20px;
        width: 10%;
        margin-left: 5%;
    }

    .nav-buttons {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-top: 8%;
        margin-left: 5%;
    }

    button:nth-child(1) {
        background-color: white;
        padding-left: 75%;
        padding-right: 70%;
        font-size: 17px;
    }

    button:nth-child(2) {
        background-color: white;
        padding-left: 70%;
        padding-right: 100%;
        font-size: 17px;
    }



    .menu {
        visibility: visible;
        padding: 20px;
        zoom: 100%;
        padding-left: 320px;
        padding-right: 40px;
        padding-bottom: 50px;
        z-index: 1;
        background-color: white;
    }

    .logo {
        padding: 20px;
        padding-top: 25px;
        padding-right: 109px;
        padding-bottom: 50px;
        padding-left: 5%;
        zoom: 70%;
    }

    .artwork-image {
        visibility: hidden;
    }

    .artwork {
        background-image: url(/img/image-hero-mobile.png);
        width: 100%;
        zoom: 83.5%;
    }

    .text {
        width: 100%;
    }

    h1 {
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin: 15px 10px 10px 0px;
        text-align: center;
        font-size: 57px;
    }

    p {
        width: 90%;
        font-size: 16px;
        zoom: 158%;
        margin: 0px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 70px;
        text-align: center;
    }

    .text button {
        margin-left: 33vh;
        font-size: 20px;
        padding: 25px;
        border-radius: 25px;
        zoom: 100%;
        margin-bottom: 50px;
    }

    .footer {
        margin: 10px;
        padding: 0px;
        margin-left: 8vh;
        text-align: center;
    }

    .footer img {
        zoom: 120%;
    }
}
